%table
  - weekly.each do |item|
    %tr
      %td.span-1
        = week_day(item.wday)
      %td.span-1
        != item.due_time ? item.due_time.strftime("%I:%M%p") : "&nbsp;"
      %td
        = item.content
      %td.destroy_rentry.span-1{:"data-id" => item.id}
        = "Destroy"