#page {
    margin-top: 20px;
}

.date_container {
    height: 25px;
    background-color: #AFCBEA;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0px 0px 0px 8px;
    margin: 0px 0px 2px 0px;
}

.entry_time {
    margin: 0px 0px 0px 8px;
}