body {
    font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
    font-color: #000;
    background-color: #6792AB;
    /*background-image:url('../images/back05.png');*/
}

#page {
    position: absolute;
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
    width: 1000px;
    left: 100px;
    top: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #FFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.date_container {
    position: relative;
    height: 25px;
    background-color: #B8D0DE;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
}

#flash {
    color: green;
}

input.time_field {
    width: 50px;
}

input.content_field {
    width: 300px;
}

.entry_time {
    width: 80px;
}
