body {
    font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
    font-color: #000;
    background-color: #F0F0F0;
    /*background-image:url('../images/back06.png');*/
}

#page {
    position: absolute;
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
    width: 1000px;
    left: 100px;
    top: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #FFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 3px 3px 4px #777;
    -webkit-box-shadow: 3px 3px 4px #777;
    box-shadow: 3px 3px 4px #777;
}

.date_container {
    position: relative;
    height: 25px;
    background-color: #DBE6EC;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
}

#flash {
    color: green;
}

input.time_field {
    width: 50px;
}

input.content_field {
    width: 300px;
}

.entry {
    width: 900px;
    height: 18px;
    margin: 2px 2px 2px 2px;
}

.entry_time {
    width: 80px;
    float: left;
}
.entry_content {
    width: 800px;
    float: right;
}

