- content_for :head do
  = javascript_include_tag :defaults
  = csrf_meta_tag

%h1="Users"
%table
  %tr
    %th="Login"
    %th="Email"
    - @permissions.each do |permission|
      %th=permission.humanize
  - @users.each do |user|
    %tr
      %td=user.login
      %td=user.email
      - @permissions.each do |permission|
        %td=user.attributes[permission]
      %td=link_to "Edit user", edit_user_path(user)
      %td=link_to "Destroy user",user, :method => :delete
= link_to "New user", new_user_path
